@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mine-blue: #0066FF;
  --mine-orange: #FF6600;
  --mine-green: #00FF66;
}

body {
  margin: 0;
  padding: 0;
  background: black;
}
